body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  color: #505050;
}

.container {
  padding: 20px;
  margin-top: 80px;
}

.navbar {
  background-color: #B0E0E6;
  color: #505050;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar h1 {
  color: #505050;
  font-size: 1.5em;
  margin-right: 20px;
}

.navbar .button-link {
  text-decoration: none;
  color: #708090;
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.3s;
}

.active-nav-link {
  color: #505050;
  border-left: 4px solid #505050;
  padding-left: 16px;
}

@media (max-width: 600px) {
  .navbar {
      height: auto;
      flex-direction: column;
      justify-content: flex-start;
      padding: 10px;
  }

  .navbar h1 {
      margin-bottom: 10px;
  }

  .navbar .button-link {
      margin-right: 0;
      margin-bottom: 5px;
  }

  .container {
      margin-top: auto;
  }
}

.component {
  background-color: #fff;
  border: 1px solid #B0E0E6;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.footer {
  background-color: #B0E0E6;
  color: #505050;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content {
  margin: 0 auto;
  max-width: 1200px;
}
