body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
}

.container {
  padding: 20px;
  margin-top: 60px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: kenBurnsEffect 10s ease-in-out infinite;
  z-index: -1;
}

@keyframes kenBurnsEffect {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.navbar {
  background-color: #B0E0E6;
  color: #505050;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar h1, .navbar .button-link, .active-nav-link {
  color: #505050;
}

.navbar .button-link {
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  transition: color 0.3s;
}

@media (max-width: 600px) {
  .navbar {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
  }

  .navbar h1 {
    margin-bottom: 10px;
  }

  .navbar .button-link {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .container {
    margin-top: auto;
  }
}

.component {
  background-color: #fff;
  border: 1px solid #B0E0E6;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.footer {
  background-color: #B0E0E6;
  color: #505050;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer-content {
  margin: 0 auto;
  max-width: 1200px;
}
